div&attributes( attributes() )
  -
    const contentBlock = block('Content')
      .attr('id', 'resume')
      .mix('Page', 'Content')
      .local({ content, contentHeader });

  != contentBlock
  != block('SiteFooter').mix('Page', 'Footer').local({ contacts })
