.Page-Wrapper {
  color: #fff;
  background-color: rgba(0, 0, 0, .85);

  @media @mobile {
    box-shadow: 0 28px 10px 30px #000;
  }

  @media @tablet {
    padding: 4em 2em 0;
  }

  @media @desktop {
    padding: 6em 2em 0;
  }
}
