body&attributes( attributes() )
  -
    const headerLocals = {
      siteName,
      description,
      repoUrl,
    };

  != block('SiteHeader').mix('Page', 'Header').local(headerLocals)
  -
    const wrapperLocals = {
      contentHeader,
      content,
      contacts,
    };

  != element('Wrapper').local(wrapperLocals)
