.Page {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  font-family: 'PT Sans';
  font-size: 100%;

  .media-query-image-min(320, 240);
  .media-query-image(320, 240, 360, 270);
  .media-query-image(360, 270, 480, 360);
  .media-query-image(480, 360, 640, 480);
  .media-query-image(640, 480, 720, 540);
  .media-query-image(720, 540, 800, 600);
  .media-query-image(800, 600, 960, 720);
  .media-query-image(960, 720, 1024, 768);
  .media-query-image(1024, 768, 1152, 864);
  .media-query-image(1152, 864, 1280, 960);
  .media-query-image(1280, 960, 1408, 1056);
  .media-query-image(1408, 1056, 1440, 1080);
  .media-query-image(1440, 1080, 1536, 1152);
  .media-query-image(1536, 1152, 1600, 1200);
  .media-query-image(1600, 1200, 1680, 1260);
  .media-query-image(1680, 1260, 1920, 1440);
  .media-query-image(1920, 1440, 2048, 1536);

  .media-query-image-max(2048, 1536);
}
