@icon-size: 1.5em;

.Link--theme-icon {
  position: relative;

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: @icon-size;
  height: @icon-size;
  padding-left: @icon-size;

  vertical-align: middle;

  line-height: @icon-size;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: @icon-size;
    height: @icon-size;

    text-align: center;

    line-height: @icon-size;

    .icon;
  }
}
