@icon-size: 1em;

.Link--theme-markerIcon {
  &:before {
    display: inline-block;

    width: 1em;
    height: 1em;

    margin-right: 0.3em;

    text-align: center;

    font-size: @icon-size;
    line-height: 1em;

    .icon;
  }
}
