.big-layout(@padding) {
  max-width: (47 + @padding * 2);
  margin: auto;
  padding: @padding;

  border-radius: 2px;
}

.Content {
  position: relative;

  box-sizing: border-box;

  color: #000;
  background-color: rgba(255,255,255,.85);

  @media @mobile {
    padding: 1em;
  }

  @media @tablet {
    font-size: 1.1em;

    .big-layout(2em);
  }

  @media @desktop {
    font-size: 1.1em;

    .big-layout(3em);
  }

  h3 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 2.2em;
    font-weight: 400;
    font-style: normal;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 0 1.7em;

    li {
      margin-left: 1em;
    }
  }

  a {
    display: inline-block;

    margin: 0 -.2em;
    padding: 0 .2em;

    vertical-align: top;
    text-decoration: underline;

    color: #019;
    border-radius: 2px;

    @media @mobile {
      background-color: rgba(0,60,120,.07);
    }

    &:hover {
      position: relative;
      z-index: 2;

      text-decoration: none;

      color: #fff;
      background-color: rgba(180,50,0,.5);
    }
  }
}
