li&attributes( attributes() )
  -
    const entity = block('Link')
      .mod('type', type === 'social' ? network : type)
      .mod('theme', mod('theme'))
      .mix(current.block.name, 'Link');

  case type
    when 'email'
      -
        entity.attr({
          href: `mailto:${email}`,
          title: `E-mail`
        }).local('text', email);
    when 'social'
      - let text;

      case network
        when 'github'
          - host = 'github.com';
        when 'telegram'
          -
            host = 'telegram.me';
            text = `@${userName}`;
        when 'vk'
          - host = 'vk.com';
      -
        const url = `${host}/${userName}`;

        text = text || url;

        entity
          .attr({ href: `https://${url}`, title: text })
          .local({ text });

  != entity
