ul&attributes( attributes() )
  -
    const theme = mod('theme');
    let contactTheme = false;

  case theme
    when 'icons'
      - contactTheme = 'icon';

  each contact in contacts
    != element('Contact').mod({ theme: contactTheme }).local(contact)
