article&attributes( attributes() )
  -
    const header = {
      mixes: [current.block.name, 'Header'],
      mods: { level: 2 },
    };

  != block('Header', header).local('header', 'Мои контакты')

  -
    const contactsOptions = {
      mixes: [current.block.name, 'ContactsInner'],
      mods: { theme: 'icons'},
    };

  != block('Contacts', contactsOptions).local({ contacts })
