doctype html
-
  const prefix = Object.entries(html.prefix)
    .map(([key, url]) => `${key}: ${url}`)
    .join(' ');

  viewport = Object.entries(viewport)
    .map(([key, url]) => `${key}=${url}`)
    .join(',');

  if (keywords) keywords = keywords.join(', ')

  const og = {
    type: ogType,
    title,
    url: canonical,
    site_name: siteName,
    description,
    image,
    updated_time: lastUpdate,
  };

  const twitterCard = {
    card: twitter.card,
    title,
    description,
    creator: `@${twitter.name}`,
    image,
  };

  const profile = {
    first_name: firstName,
    last_name: lastName,
    username: userName,
    gender,
  };

html&attributes({ prefix, lang })
  head
    meta(charset = 'utf-8')
    title= title

    each metaContent, metaName in { description, keywords }
      meta(
        name = metaName
        content = metaContent
      )

    each metaContent, metaProperty in og
      meta(
        property = `og:${metaProperty}`
        content = metaContent
      )

    each metaContent, metaName in twitterCard
      meta(
        name = `twitter:${metaName}`
        content = metaContent
      )

    each metaContent, metaProperty in profile
      meta(
        property = `profile:${metaProperty}`
        content = metaContent
      )

    link(rel = 'image_src', href = image)
    link(rel = 'canonical', href = canonical)
    meta(name = 'viewport', content = viewport)

    each style in styles
      link(
        rel = 'stylesheet'
        type = 'text/css'
        href = style
      )
    script(
      src='/js/app.js'
    )
  -
    const pageData = {
      siteName,
      description,
      content,
      contentHeader,
      contacts,
      repoUrl,
    };

  != block('Page').local(pageData)
