.SiteHeader-RepoLink {
  position: absolute;
  bottom: 2em;

  display: block;

  width: @width;
  margin-left: -@left;

  text-decoration: none;

  color: #fff;

  font-size: .6em;

  @width: 16.7em;
  @left: @width / 2;
  @icon-size: 1.6em;

  &:hover {
    text-decoration: underline;

    &:before {
      background-color: rgba(200, 50, 0, .4);
    }
  }

  &:before {
    width: @icon-size;
    height: @icon-size;
    margin-right: .3em;

    border: solid 1px #fff;
    border-radius: @icon-size / 2;

    line-height: @icon-size;
  }
}
