@font-face {
  @icons-dir: '../fonts/icons/';

  font-family: 'icons';
  src: url('@{icons-dir}icons.eot');
  src: url('@{icons-dir}icons.eot?74573365#iefix') format('embedded-opentype'),
       url('@{icons-dir}icons.woff2?74573365') format('woff2'),
       url('@{icons-dir}icons.woff?74573365') format('woff'),
       url('@{icons-dir}icons.ttf?74573365') format('truetype'),
       url('@{icons-dir}icons.svg?74573365#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon() {
  text-decoration: none;

  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
}

.icon-arrow-down() {
  content: '\e800';
}

.icon-github() {
  content: '\f09b';
}

.icon-git() {
  content: '\f1d3';
}

.icon-email() {
  content: '\f0e0';
}

.icon-telegram() {
  content: '\f1d8';
}

@ff: 'Yanone Kaffeesatz';

@font-dir: '../fonts/yanone-kaffeesatz';

@prefix-name: yanonekaffeesatz-;
@suffix-name: -webfont;

@prefix: '@{font-dir}/@{prefix-name}';

@bold:       '@{prefix}bold@{suffix-name}';
@regular:    '@{prefix}regular@{suffix-name}';
@light:      '@{prefix}light@{suffix-name}';
@extralight: '@{prefix}extralight@{suffix-name}';

@font-face {
  font-family: @ff;
  src: url('@{bold}.eot');
  src: url('@{bold}.eot?#iefix') format('embedded-opentype'),
       url('@{bold}.woff2') format('woff2'),
       url('@{bold}.woff') format('woff'),
       url('@{bold}.ttf') format('truetype'),
       url('@{bold}.svg#yanone_kaffeesatzbold') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: @ff;
  src: url('@{regular}.eot');
  src: url('@{regular}.eot?#iefix') format('embedded-opentype'),
       url('@{regular}.woff2') format('woff2'),
       url('@{regular}.woff') format('woff'),
       url('@{regular}.ttf') format('truetype'),
       url('@{regular}.svg#yanone_kaffeesatzregular') format('svg');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: @ff;
  src: url('@{light}.eot');
  src: url('@{light}.eot?#iefix') format('embedded-opentype'),
       url('@{light}.woff2') format('woff2'),
       url('@{light}.woff') format('woff'),
       url('@{light}.ttf') format('truetype'),
       url('@{light}.svg#yanone_kaffeesatzlight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: @ff;
  src: url('@{extralight}.eot');
  src: url('@{extralight}.eot?#iefix') format('embedded-opentype'),
       url('@{extralight}.woff2') format('woff2'),
       url('@{extralight}.woff') format('woff'),
       url('@{extralight}.ttf') format('truetype'),
       url('@{extralight}.svg#yanone_kaffeesatzextra_light') format('svg');
  font-weight: 200;
  font-style: normal;
}
