.media-query-image(@width-from, @height-from, @width-to, @height-to) {
  @media
  (min-width: unit((@width-from + 1), px)) and
  (max-width: unit(@width-to, px)),
  (min-height: unit((@height-from + 1), px)) and
  (max-height: unit(@height-to, px)) {
    background-image: url('../images/zlat-down-@{width-to}x@{height-to}.jpg');
  }
}

.media-query-image-min(@width, @height) {
  @media (max-width: unit(@width, px)), (max-height: unit(@height, px)) {
    background-image: url('../images/zlat-down-@{width}x@{height}.jpg');
  }
}

.media-query-image-max(@width, @height) {
  @media
  (min-width: unit((@width + 1), px)),
  (min-height: unit((@height + 1), px)) {
    background-image: url('../images/zlat-down-2560x1920.jpg');
  }
}

@mobile: ~'(max-width: 639px)';
@tablet: ~'(min-width: 640px) and (max-width: 1023px)';
@desktop: ~'(min-width: 1024px)';
