.SiteHeader-ResumeLink {
  display: block;

  margin: 0;

  text-decoration: none;

  color: #fff;
  outline: 0;

  font-size: 1em;

  &:hover {
    text-decoration: underline;

    &:before {
      background-color: rgba(200, 50, 0, .4);
    }
  }

  &:before {
    display: inline-block;

    width: @icon-size;
    height: @icon-size;
    margin-right: .3em;

    text-align: center;
    vertical-align: middle;

    border: solid #fff 1px;
    border-radius: @icon-size / 2;

    font-size: 1.5em;
    line-height: @icon-size;

    @icon-size: 1.3em;

    .icon;
    .icon-arrow-down;
  }
}
