header&attributes( attributes() )
  != block('Header').mix(current.name, 'Title').local({ header: siteName })
  != element('Description').local({ description })
  -
    const resumeLink = {
      attributes: { href: '#resume' },
      locals: { text: 'Моё резюме' },
    };

  != block('Link', resumeLink).mod('goTo').mix(current.name, 'ResumeLink')
  -
    const repoLink = {
      attributes: {
        href: `https://${repoUrl}`,
        title: 'Исходный код сайта',
      },
      locals: { text: repoUrl },
      mods: {
        type: 'git',
        theme: 'markerIcon',
      },
    };
  != block('Link', repoLink).mix(current.name, 'RepoLink')
