.SiteHeader {
  position: relative;

  display: flex;
  flex-direction: column;

  color: #fff;
  background-color: rgba(0, 0, 0, .85);

  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: 300;

  align-items: center;
  justify-content: center;
}
